<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/shop-checkout-review by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
    <head>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
        <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

        <!-- title  -->
        <title>Gigant Elektra - Elegant smart world</title>

        <!-- google icons -->
        <script src="https://kit.fontawesome.com/138cb064b7.js" crossorigin="anonymous"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
            integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <script src="https://unpkg.com/themify@1.0.0/_themify.scss"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/user/logos/favicon-32x32.png" />
        <link rel="apple-touch-icon" href="/images/user/logos/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/user/logos/android-chrome-192x192.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/user/logos/android-chrome-512x512.png" />

        <!-- plugins -->
        <link rel="stylesheet" href="/stylesheet/user/plugins.css" />

        <!-- theme core css -->
        <link href="/stylesheet/user/styles.css" rel="stylesheet" />
    </head>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER
    ================================================== -->
        <div class="main-wrapper mp-pusher" id="mp-pusher">
            <!-- HEADER
        ================================================== -->
            <%- include("../includes/userHeader.ejs") %>

            <!-- PAGE TITLE
        ================================================== -->
            <section class="page-title-section bg-img cover-background" data-background="/images/user/bg/page-title.jpg">
                <div class="container">
                    <div class="title-info">
                        <h1>Order Details</h1>
                    </div>
                    <div class="breadcrumbs-info">
                        <ul class="ps-0">
                            <li><a href="home-shop-1">Home</a></li>
                            >
                            <li><a href="#">Order Details</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- CHECKOUT
        ================================================== -->
            <section class="md">
                <div class="container">
                    <div class="row">
                        <!-- new left and full -->
                        <div class="col-lg-9 col-md-12 ps-2-3 mb-1-9 mb-lg-0">
                            <div class="common-block">
                                <div class="inner-title">
                                    <h4 class="mb-0">Order Info</h4>
                                </div>

                                <div class="shop-cart-table">
                                    <table class="table shop-cart text-center mb-0">
                                        <colgroup>
                                            <col width="100" />
                                            <col />
                                            <col width="1" />
                                            <col />
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th class="text-center text-uppercase font-weight-500">Image</th>
                                                <th class="text-center text-uppercase font-weight-500">Name</th>
                                                <th class="text-center text-uppercase font-weight-500">Sub Total</th>
                                                <th class="text-center text-uppercase font-weight-500">Quantity</th>
                                                <th class="text-center text-uppercase font-weight-500">Total</th>
                                                <!-- <th class="text-center text-uppercase font-weight-500">Edit</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < order.items.length; i++ ) { %>
                                            <tr>
                                                <td class="product-thumbnail text-start">
                                                    <a href="/productDetails?id=<%=order.items[i].productId._id%>"
                                                        ><img
                                                            src="<%=order.items[i].productId.productImages[0]%>"
                                                            alt="..."
                                                    /></a>
                                                </td>
                                                <td class="text-center">
                                                    <a href="#"><%=order.items[i].productId.productName%></a>
                                                    <!-- <span class="text-uppercase d-block">SKU: 290397</span>
                                                        <a href="#" class="display-32"><i class="fas fa-edit"></i> Edit</a> -->
                                                </td>
                                                <td class="product-remove text-center">
                                                    $ <%=order.items[i].productId.price%>.00
                                                </td>
                                                <td class="text-center"><%=order.items[i].quantity%></td>
                                                <td class="product-subtotal text-center">
                                                    $ <%=order.items[i].totalPrice%>.00
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="buttons-set">
                                    <a href="/order_view" class="butn-style2 wide"
                                        ><i class="fas fa-arrow-left me-1"></i> Back</a
                                    >
                                    <a href="/" class="butn-style2 wide"
                                        >Go to Home <i class="fas fa-arrow-right ms-1"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <!-- end left pannel section -->
                        <!-- right pannel section -->
                        <div class="col-lg-3 col-12 side-bar">
                            <div class="widget">
                                <div class="widget-title">
                                    <h5>Order Address</h5>
                                </div>
                                <div class="card-body text-lg">
                                    <p class="text-gray-dark">
                                        <%=finalAddress.name%> <%=finalAddress.lastname%> <br /><%= finalAddress.address%>
                                        <br /><%=finalAddress.city%>, <%=finalAddress.country%>
                                        <br />
                                        <b>Pin</b> : <%=finalAddress.pincode%> <br />
                                        <b>Email</b> : <%=finalAddress.email%> <br />
                                        <b>Mobile</b> : <%=finalAddress.phone%> <br />
                                    </p>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-title">
                                    <h5>Order Summary</h5>
                                </div>
                                <table class="table classic">
                                    <tbody>
                                        <tr>
                                            <th>Cart Total:</th>
                                            <td class="text-lg text-gray-dark"><span>$</span> <%=order.cartTotal%>.00</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping:</th>
                                            <td class="text-gray-dark"><span>$</span><%=order.delivery%>.00</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td class="text-lg text-gray-dark"><span>$</span> <%=order.total%>.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end checkout section -->

            <!-- FOOTER
        ================================================== -->
            <%- include("../includes/user-footer.ejs") %>
        </div>

        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <!-- all js include start -->

        <!-- jQuery -->
        <script src="/js/user/jquery.min.js"></script>

        <!-- popper js -->
        <script src="/js/user/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/js/user/bootstrap.min.js"></script>

        <!-- core.min.js -->
        <script src="/js/user/core.min.js"></script>

        <!-- custom scripts -->
        <script src="/js/user/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/shop-checkout-review by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
</html>
