<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/account-or by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:34 GMT -->
    <head>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
        <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

        <!-- title  -->
        <title>Gigant Elektra - Elegant smart world</title>

        <!-- google icons -->
        <script src="https://kit.fontawesome.com/138cb064b7.js" crossorigin="anonymous"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
            integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <script src="https://unpkg.com/themify@1.0.0/_themify.scss"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/user/logos/favicon-32x32.png" />
        <link rel="apple-touch-icon" href="/images/user/logos/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/user/logos/android-chrome-192x192.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/user/logos/android-chrome-512x512.png" />

        <!-- plugins -->
        <link rel="stylesheet" href="/stylesheet/user/plugins.css" />

        <!-- theme core css -->
        <link href="/stylesheet/user/styles.css" rel="stylesheet" />
    </head>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER
    ================================================== -->
        <div class="main-wrapper mp-pusher" id="mp-pusher">
            <!-- HEADER
        ================================================== -->
            <%- include("../includes/userHeader.ejs") %>

            <!-- CATEGORY MP-MENU
        ================================================== -->

            <!-- PAGE TITLE
        ================================================== -->
            <section class="page-title-section bg-img cover-background" data-background="/images/user/bg/page-title.jpg">
                <div class="container">
                    <div class="title-info">
                        <h1>My Orders</h1>
                    </div>
                    <div class="breadcrumbs-info">
                        <ul class="ps-0">
                            <li><a href="/">Home</a></li>
                            >
                            <li><a href="#">My Orders</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- ACCOUNT ORDERS
        ================================================== -->
            <section class="md">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- left panel -->
                        <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">
                            <div class="account-pannel">
                                <div class="p-4">
                                    <div class="text-center">
                                        <div class="pb-3">
                                            <img
                                                class="img-fluid rounded-circle img-thumbnail"
                                                src="/images/user/avatar/t-3.jpg"
                                                alt="..."
                                            />
                                        </div>
                                        <h6 class="mb-0 display-28"><%=user_details.userName%></h6>
                                        <!-- <small>Joined February 06, 2017</small> -->
                                        <div class="reward-points">
                                            <i class="fa-regular fa-star text-primary pe-1"></i> Points: 7386
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group">
                                    <a class="list-group-items active" href="/order_view">
                                        <i class="fa-solid fa-bag-shopping pe-2"></i>Orders</a
                                    >
                                    <a class="list-group-items" href="/profile"
                                        ><i class="fa-regular fa-user pe-2"></i>Profile</a
                                    >
                                    <a class="list-group-items" href="/address"
                                        ><i class="fa-sharp fa-solid fa-location-dot pe-2"></i>Addresses</a
                                    >
                                    <a class="list-group-items" href="/wishlist"
                                        ><i class="fa-regular fa-heart pe-2"></i>Wishlist<span
                                            class="badge badge-pill"
                                        ></span
                                    ></a>
                                </div>
                            </div>
                        </div>
                        <!-- end left panel -->

                        <!-- right panel -->
                        <div class="col-lg-8">
                            <div class="common-block">
                                <div class="inner-title">
                                    <h4 class="mb-0">My Orders</h4>
                                </div>
                                <% if (order==0) { %>
                                <div class="row">
                                    <h1>You havn't purchased anything</h1>
                                    <p>purchase something</p>
                                    <div>
                                        <a class="btn btn-dark" href="/userProduct">Gp shop</a>
                                    </div>
                                </div>
                                <% } else { %>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Order Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                                <th>Details</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let i = 0; i < order.length; i++ ) { %> <% if (order[i].order_status ==
                                            "pending") { %>

                                            <tr>
                                                <th><%=i+1%></th>
                                                <td><%=order[i].updatedAt.toLocaleDateString()%></td>
                                                <td>
                                                    <span class="fas fa-circle text-primary small mr-1 pe-2"></span
                                                    ><%=order[i].order_status%>
                                                </td>
                                                <td><span>$ </span><%=order[i].total%>.00</td>
                                                <td>
                                                    <a href="#" class="text-primary"><%=order[i].payment_method%></a>
                                                </td>
                                                <td>
                                                    <a href="/order_details/<%=order[i]._id%>"
                                                        ><i class="fa-solid fa-eye pe-2"></i>View</a
                                                    >
                                                </td>
                                                <td>
                                                    <button onclick="cancelOrder('<%=order[i]._id%>')" class="btn btn-dark">
                                                        Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                            <% } else {%>
                                            <tr>
                                                <th><%=i+1%></th>
                                                <td><%=order[i].updatedAt.toLocaleDateString()%></td>
                                                <%if(order[i].order_status=="Completed"){%>
                                                <td>
                                                    <span class="fas fa-circle text-success small mr-1 pe-2"></span
                                                    ><%=order[i].order_status%>
                                                </td>
                                                <%}else if(order[i].order_status=="Cancelled"){%>
                                                <td>
                                                    <span class="fas fa-circle text-danger small mr-1 pe-2"></span
                                                    ><%=order[i].order_status%>
                                                </td>
                                                <%}else{%>
                                                <td>
                                                    <span class="fas fa-circle text-primary small mr-1 pe-2"></span
                                                    ><%=order[i].order_status%>
                                                </td>
                                                <%}%>
                                                <td><span>$ </span><%=order[i].total%>.00</td>
                                                <td>
                                                    <a href="#" class="text-primary"><%=order[i].payment_method%></a>
                                                </td>
                                                <td>
                                                    <a href="/order_details/<%=order[i]._id%>"
                                                        ><i class="fa-solid fa-eye pe-2"></i>View</a
                                                    >
                                                </td>
                                            </tr>
                                            <% } %> <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                <% } %>
                            </div>
                        </div>
                        <!-- end right panel -->
                    </div>
                </div>
            </section>

            <!-- FOOTER
        ================================================== -->
            <%- include("../includes/user-footer.ejs") %>
        </div>

        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <!-- all js include start -->

        <!-- axios cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

        <!-- sweet alert cdn -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function cancelOrder(id) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, do it!",
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        await axios.post(`/cancel_order?id=${id}`).then((res) => {
                            if (res.data.succ) {
                                Swal.fire("Completed!", "This order has been Canceld.", "success");
                            }
                            location.reload();
                        });
                    }
                });
            }
        </script>

        <!-- jQuery -->
        <script src="/js/user/jquery.min.js"></script>

        <!-- popper js -->
        <script src="/js/user/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/js/user/bootstrap.min.js"></script>

        <!-- core.min.js -->
        <script src="/js/user/core.min.js"></script>

        <!-- custom scripts -->
        <script src="/js/user/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/account-or by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:34 GMT -->
</html>
