<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from smartshop.websitelayout.net/home-shop-2 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:59:46 GMT -->
    <head>
        <!-- metas -->
        <meta charset="utf-8" />
        <meta name="author" content="Chitrakoot Web" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
        <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

        <!-- title  -->
        <title>Gigant Elektra - Elegant smart world</title>

        <!-- google icons -->
        <script src="https://kit.fontawesome.com/138cb064b7.js" crossorigin="anonymous"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
            integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <script src="https://unpkg.com/themify@1.0.0/_themify.scss"></script>

        <!-- favicon -->
        <link rel="shortcut icon" href="/images/user/logos/favicon-32x32.png" />
        <link rel="apple-touch-icon" href="/images/user/logos/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/user/logos/android-chrome-192x192.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/images/user/logos/android-chrome-512x512.png" />

        <!-- plugins -->
        <link rel="stylesheet" href="/stylesheet/user/plugins.css" />

        <!-- revolution slider css -->
        <link rel="stylesheet" href="/stylesheet/user/rev_slider/settings.css" />
        <link rel="stylesheet" href="/stylesheet/user/rev_slider/layers.css" />
        <link rel="stylesheet" href="/stylesheet/user/rev_slider/navigation.css" />

        <!-- theme core css -->
        <link href="/stylesheet/user/styles.css" rel="stylesheet" />
    </head>

    <body>
        <!-- PAGE LOADING
    ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER
    ================================================== -->
        <div class="main-wrapper">
            <!-- HEADER
        ================================================== -->
            <header class="header-classic">
                <div id="top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="top-bar-info">
                                    <ul class="ps-0">
                                        <li>
                                            <i class="fa-sharp fa-solid fa-location-dot"></i>
                                            ><span class="ps-2 display-31 display-lg-30">Welcome to Gigant Elektra</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-9 col-md-7 d-none d-md-block">
                                <ul class="top-nav ps-0">
                                    <li><a href="#">Today's Deal</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Gift Certificates</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-header navbar-header-custom">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-6 col-lg-3">
                                <!-- logo -->
                                <a href="index" class="navbar-brand logodefault"
                                    ><img id="logo" src="/images/user/logos/logo-no-background.png" alt="logo"
                                /></a>
                                <!-- end eogo -->
                            </div>

                            <!-- search area -->
                            <div class="col-12 col-lg-6 order-3 order-lg-2 categories-search">
                                <div class="product-search">
                                    <form method="get">
                                        <div class="psearch-content">
                                            <!-- <div class="product-cat">
                                                <select class="form-select form-control">
                                                    <option value="" selected="selected">All Categories</option>
                                                    <option value="activewear">Activewear</option>
                                                    <option value="amplifire">Amplifire</option>
                                                    <option value="appliances">Appliances</option>
                                                    <option value="arc-radio">ARC Radio</option>
                                                    <option value="bags">Bags</option>
                                                    <option value="beds">Beds</option>
                                                    <option value="belts">Belts</option>
                                                    <option value="books">Books</option>
                                                    <option value="boots">Boots</option>
                                                </select>
                                            </div> -->
                                            <div class="search-wrapper">
                                                <input
                                                    type="text"
                                                    name="s"
                                                    class="search-field"
                                                    placeholder="I'm shopping for..."
                                                />
                                            </div>
                                            <button type="submit" class="search-submit">
                                                <i class="ti-search d-inline-block d-lg-none"></i
                                                ><span class="d-none d-lg-inline-block">Search</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end search area -->

                            <!-- attribute navigation -->
                            <div class="col-6 col-lg-3 attr-nav text-end order-2 order-lg-3">
                                <ul class="text-center">
                                    <li class="d-inline-block d-lg-none">
                                        <a href="#" class="search-category">
                                            <i class="ti-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-inline-block">
                                            <i class="fa-regular fa-heart"></i>
                                            <span class="badge bg-primary">3</span>
                                        </a>
                                    </li>
                                    <%if(user_details){%>
                                    <li>
                                        <a href="/profile/<%=user_details._id%>"><i class="fa-regular fa-user"></i></a>
                                    </li>
                                    <%} else {%>
                                    <li>
                                        <a href="/login"><i class="fa-regular fa-user"></i></a>
                                    </li>
                                    <%}%>
                                    <%if(user_details){%>
                                    <li class="dropdown">
                                        <a href="/cart/<%=user_details._id%>" class="dropdown-toggle" data-bs-toggle="dropdown">
                                            <i class="fa-solid fa-bag-shopping"></i>
                                            <span class="badge bg-primary">3</span>
                                        </a>
                                        <ul class="dropdown-menu cart-list">
                                            <li>
                                                <a href="#" class="photo"
                                                    ><img
                                                        src="/images/user/products/cart-thumbs/cart-thumb-01.jpg"
                                                        class="cart-thumb"
                                                        alt="..."
                                                /></a>
                                                <h6><a href="#">Men's Football Boots </a></h6>
                                                <p>2x - <span class="price">$30.00</span></p>
                                            </li>
                                            <li>
                                                <a href="#" class="photo"
                                                    ><img
                                                        src="/images/user/products/cart-thumbs/cart-thumb-02.jpg"
                                                        class="cart-thumb"
                                                        alt="..."
                                                /></a>
                                                <h6><a href="#">Sun Protection Cap</a></h6>
                                                <p>1x - <span class="price">$10.20</span></p>
                                            </li>
                                            <li>
                                                <a href="#" class="photo"
                                                    ><img
                                                        src="/images/user/products/cart-thumbs/cart-thumb-03.jpg"
                                                        class="cart-thumb"
                                                        alt="..."
                                                /></a>
                                                <h6><a href="#">Heel Character Shoes</a></h6>
                                                <p>2x - <span class="price">$39.00</span></p>
                                            </li>
                                            <li class="total bg-primary">
                                                <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                <a href="/cart/<%=user_details._id%>" class="butn-style2 small white float-end w-auto"
                                                    ><span>View Cart</span></a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <% } else { %>
                                        <li class="dropdown">
                                            <a href="/login" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="fa-solid fa-bag-shopping"></i>
                                                <span class="badge bg-primary">3</span>
                                            </a>
                                            <ul class="dropdown-menu cart-list">
                                                <li>
                                                    <a href="#" class="photo"
                                                        ><img
                                                            src="/images/user/products/cart-thumbs/cart-thumb-01.jpg"
                                                            class="cart-thumb"
                                                            alt="..."
                                                    /></a>
                                                    <h6><a href="#">Men's Football Boots </a></h6>
                                                    <p>2x - <span class="price">$30.00</span></p>
                                                </li>
                                                <li>
                                                    <a href="#" class="photo"
                                                        ><img
                                                            src="/images/user/products/cart-thumbs/cart-thumb-02.jpg"
                                                            class="cart-thumb"
                                                            alt="..."
                                                    /></a>
                                                    <h6><a href="#">Sun Protection Cap</a></h6>
                                                    <p>1x - <span class="price">$10.20</span></p>
                                                </li>
                                                <li>
                                                    <a href="#" class="photo"
                                                        ><img
                                                            src="/images/user/products/cart-thumbs/cart-thumb-03.jpg"
                                                            class="cart-thumb"
                                                            alt="..."
                                                    /></a>
                                                    <h6><a href="#">Heel Character Shoes</a></h6>
                                                    <p>2x - <span class="price">$39.00</span></p>
                                                </li>
                                                <li class="total bg-primary">
                                                    <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                    <a href="/login" class="butn-style2 small white float-end w-auto"
                                                        ><span>View Cart</span></a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <%}%>
                                     
                                </ul>
                            </div>
                            <!-- end attribute navigation -->
                        </div>
                    </div>
                </div>

                <div class="navbar-default bg-light-gray">
                    <div class="container">
                        <div class="menu_area alt-font">
                            <nav class="navbar navbar-expand-lg header-light-nav p-0">
                                <div class="navbar-toggler">Menu</div>

                                <!-- menu area -->
                                <ul class="navbar-nav" id="nav" style="display: none">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="about-us">About Us</a></li>
                                            <li><a href="contact-us">Contacts</a></li>
                                            <li><a href="help-faq">Help / FAQ</a></li>
                                            <li><a href="product-comparison">Product Comparison</a></li>
                                            <li><a href="order-tracking">Order Tracking</a></li>
                                            <li><a href="order-tracking-detail">Order Tracking Detail</a></li>
                                            <li><a href="search-results">Search Results</a></li>
                                            <li><a href="404-page">404 Not Found</a></li>
                                            <li><a href="comingsoon">Coming Soon</a></li>
                                            <li><a href="newsletter">Newsletter</a></li>
                                            <li><a href="privacy-policy">Privacy Policy</a></li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a href="#">Account</a>
                                        <ul>
                                            <li><a href="login-register">Login / Register</a></li>
                                            <li><a href="account-password-recovery">Password Recovery</a></li>
                                            <li><a href="account-orders">Orders List</a></li>
                                            <li><a href="account-wishlist">Wishlist</a></li>
                                            <li><a href="account-profile">Profile Page</a></li>
                                            <li><a href="account-address">Contact / Shipping Address</a></li>
                                            <li><a href="account-tickets">My Tickets</a></li>
                                            <li><a href="account-single-ticket">Single Ticket</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Mega menu</a>
                                        <ul>
                                            <li><a href="login-register">Login / Register</a></li>
                                            <li><a href="account-password-recovery">Password Recovery</a></li>
                                            <li><a href="account-orders">Orders List</a></li>
                                            <li><a href="account-wishlist">Wishlist</a></li>
                                            <li><a href="account-profile">Profile Page</a></li>
                                            <li><a href="account-address">Contact / Shipping Address</a></li>
                                            <li><a href="account-tickets">My Tickets</a></li>
                                            <li><a href="account-single-ticket">Single Ticket</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li>
                                        <a href="#">Mega Menu</a>
                                        <ul class="row megamenu">
                                            <li class="col-lg-3 col-sm-12">
                                                <span
                                                    class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title"
                                                    >Categories 01</span
                                                >
                                                <ul>
                                                    <li><a href="#">Internal SSD</a></li>
                                                    <li><a href="#">Memory Cards</a></li>
                                                    <li><a href="#">Home Theatres</a></li>
                                                    <li><a href="#">Unique Routers</a></li>
                                                    <li><a href="#">Security cameras</a></li>
                                                    <li><a href="#">Effective Laptops</a></li>
                                                </ul>
                                            </li>
                                            <li class="col-lg-3 col-sm-12">
                                                <span
                                                    class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title"
                                                    >Categories 02</span
                                                >
                                                <ul>
                                                    <li><a href="#">Winterwear</a></li>
                                                    <li><a href="#">Sportswear</a></li>
                                                    <li><a href="#">Innerwear</a></li>
                                                    <li><a href="#">Ethnic Wear</a></li>
                                                    <li><a href="#">Cotton Lounge Wear</a></li>
                                                    <li><a href="#">Essential Swimwear</a></li>
                                                </ul>
                                            </li>
                                            <li class="col-lg-3 col-sm-12">
                                                <span
                                                    class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title"
                                                    >Categories 03</span
                                                >
                                                <ul>
                                                    <li><a href="#">Computer Speakers</a></li>
                                                    <li><a href="#">Compact Headphones</a></li>
                                                    <li><a href="#">Best Choice Printers</a></li>
                                                    <li><a href="#">PC Gaming</a></li>
                                                    <li><a href="#">Power banks</a></li>
                                                    <li><a href="#">Musical Instruments</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid">Blog Grid</a></li>
                                            <li><a href="blog-right-sidebar">Blog List Right Sidebar</a></li>
                                            <li><a href="blog-left-sidebar">Blog List Left Sidebar</a></li>
                                            <li><a href="blog-full-width">Blog Full Width</a></li>
                                            <li><a href="blog-post">Blog Post</a></li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop-categories">Shop Categories</a></li>
                                            <li><a href="shop-product-grid">Product Grid</a></li>
                                            <!-- <li><a href="shop-product-list">Product List</a></li>
                                            <li><a href="shop-product-full-three-coulmn">Product Three Coulmns</a></li>
                                            <li><a href="shop-product-full-four-coulmn">Product Four Coulmns</a></li>
                                            <li><a href="/productDetails/<%=productList._id%>">Product Detail</a></li> -->
                                            <li><a href="shop-cart">Shop Cart</a></li>
                                            <li>
                                                <a href="shop-checkout-address">Shop Checkout</a>
                                                <ul>
                                                    <li><a href="shop-checkout-address">Address</a></li>
                                                    <li><a href="shop-checkout-shipping">Shipping</a></li>
                                                    <li><a href="shop-checkout-payment">Payment</a></li>
                                                    <li><a href="shop-checkout-review">Review</a></li>
                                                    <li><a href="checkout-complete">Complete</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- end menu area -->

                                <a href="/userProduct" class="butn-style2 wide ms-auto d-none d-lg-inline-block"
                                    ><span>Shop Now</span><i class="fas fa-arrow-right ms-2"></i
                                ></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <!-- REVOLUTION SLIDESHOW
        ================================================== -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" id="rev_slider_2" data-version="5.4.5">
                    <ul>
                        <!-- slide 1 -->
                        <li
                            data-fstransition="fade"
                            data-transition="scaledownfrombottom"
                            data-easein="default"
                            data-easeout="default"
                            data-slotamount="1"
                            data-masterspeed="1200"
                            data-delay="8000"
                            data-title="Interior Design"
                        >
                            <!-- MAIN IMAGE -->
                            <img
                                src="/images/user/slider/slide-04.jpg"
                                alt="slide1"
                                data-bgrepeat="no-repeat"
                                data-bgfit="cover"
                                class="rev-slidebg"
                            />

                            <!-- HERO SUBTITLE -->
                            <div
                                class="tp-caption"
                                data-x="30"
                                data-y="center"
                                data-voffset="[-100,-75,-75,-150]"
                                data-fontsize="[32,30,28,30]"
                                data-lineheight="34"
                                data-width="[600, 500, 400, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                            >
                                <p class="white-space">Apple Watch</p>
                            </div>

                            <!-- HERO TITLE -->
                            <div
                                class="tp-caption hero-text alt-font text-primary font-weight-600"
                                data-x="30"
                                data-y="center"
                                data-voffset="[-30,-10,-10,-50]"
                                data-fontsize="[52,48,46,46]"
                                data-lineheight="[76,72,64,58]"
                                data-width="[none, none, none, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                                data-splitout="none"
                            >
                                Watch Series
                            </div>

                            <!-- HERO SUBTITLE -->
                            <div
                                class="tp-caption"
                                data-x="30"
                                data-y="center"
                                data-voffset="[30,40,50,45]"
                                data-fontsize="[26,24,22,22]"
                                data-lineheight="[26,72,64,58]"
                                data-width="[600, 500, 500, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                            >
                                <p class="white-space">
                                    Starting at <span class="text-extra-dark-gray font-weight-700">$299.99</span>
                                </p>
                            </div>

                            <!-- BUTTON -->
                            <div
                                class="tp-caption"
                                data-x="35"
                                data-y="center"
                                data-voffset="[95,110,115,120]"
                                data-lineheight="55"
                                data-hoffset="0"
                                data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'
                            >
                                <a href="#" class="butn-style2 dark medium">Shop Now</a>
                            </div>
                        </li>
                        <!-- end slide 1 -->

                        <!-- slide 2 -->
                        <li
                            data-fstransition="fade"
                            data-transition="scaledownfrombottom"
                            data-easein="default"
                            data-easeout="default"
                            data-slotamount="1"
                            data-masterspeed="1200"
                            data-delay="8000"
                            data-title="Interior Design"
                        >
                            <!-- MAIN IMAGE -->
                            <img
                                src="/images/user/slider/slide-05.jpg"
                                alt="slide2"
                                data-bgrepeat="no-repeat"
                                data-bgfit="cover"
                                class="rev-slidebg"
                            />

                            <!-- HERO SUBTITLE -->
                            <div
                                class="tp-caption"
                                data-x="30"
                                data-y="center"
                                data-voffset="[-100,-75,-75,-150]"
                                data-fontsize="[32,30,28,30]"
                                data-lineheight="34"
                                data-width="[600, 500, 400, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                            >
                                <p class="white-space">Amazon</p>
                            </div>

                            <!-- HERO TITLE -->
                            <div
                                class="tp-caption hero-text alt-font text-primary font-weight-600"
                                data-x="30"
                                data-y="center"
                                data-voffset="[-30,-10,-10,-50]"
                                data-fontsize="[52,48,46,46]"
                                data-lineheight="[76,72,64,58]"
                                data-width="[none, none, none, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                                data-splitout="none"
                            >
                                Echo Spot New
                            </div>

                            <!-- HERO SUBTITLE -->
                            <div
                                class="tp-caption"
                                data-x="30"
                                data-y="center"
                                data-voffset="[30,40,50,45]"
                                data-fontsize="[26,24,22,22]"
                                data-lineheight="[26,72,64,58]"
                                data-width="[600, 500, 500, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                            >
                                <p class="white-space">
                                    Starting at <span class="text-extra-dark-gray font-weight-700">$199.99</span>
                                </p>
                            </div>

                            <!-- BUTTON -->
                            <div
                                class="tp-caption"
                                data-x="35"
                                data-y="center"
                                data-voffset="[95,110,115,120]"
                                data-lineheight="55"
                                data-hoffset="0"
                                data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'
                            >
                                <a href="#" class="butn-style2 dark medium">Shop Now</a>
                            </div>
                        </li>
                        <!-- end slide 2 -->

                        <!-- slide 3 -->
                        <li
                            data-fstransition="fade"
                            data-transition="scaledownfrombottom"
                            data-easein="default"
                            data-easeout="default"
                            data-slotamount="1"
                            data-masterspeed="1200"
                            data-delay="8000"
                            data-title="Interior Design"
                        >
                            <!-- MAIN IMAGE -->
                            <img
                                src="/images/user/slider/slide-06.jpg"
                                alt="slide3"
                                data-bgrepeat="no-repeat"
                                data-bgfit="cover"
                                class="rev-slidebg"
                            />

                            <!-- HERO SUBTITLE -->
                            <div
                                class="tp-caption"
                                data-x="30"
                                data-y="center"
                                data-voffset="[-100,-75,-75,-150]"
                                data-fontsize="[32,30,28,30]"
                                data-lineheight="34"
                                data-width="[600, 500, 400, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1000,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                            >
                                <p class="white-space">Smartphone</p>
                            </div>

                            <!-- HERO TITLE -->
                            <div
                                class="tp-caption hero-text alt-font text-primary font-weight-600"
                                data-x="30"
                                data-y="center"
                                data-voffset="[-30,-10,-10,-50]"
                                data-fontsize="[52,48,46,46]"
                                data-lineheight="[76,72,64,58]"
                                data-width="[none, none, none, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1100,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                                data-splitout="none"
                            >
                                Mobile Series
                            </div>

                            <!-- HERO SUBTITLE -->
                            <div
                                class="tp-caption"
                                data-x="30"
                                data-y="center"
                                data-voffset="[30,40,50,45]"
                                data-fontsize="[26,24,22,22]"
                                data-lineheight="[26,72,64,58]"
                                data-width="[600, 500, 500, 300]"
                                data-whitespace="[nowrap, nowrap, nowrap, normal]"
                                data-frames='[{
                                    "delay":1200,
                                    "speed":900,
                                    "frame":"0",
                                    "from":"y:150px;opacity:0;",
                                    "ease":"Power3.easeOut",
                                    "to":"o:1;"
                                    },{
                                    "delay":"wait",
                                    "speed":1000,
                                    "frame":"999",
                                    "to":"opacity:0;","ease":"Power3.easeOut"
                                }]'
                            >
                                <p class="white-space">
                                    Starting at <span class="text-extra-dark-gray font-weight-700">$599.99</span>
                                </p>
                            </div>

                            <!-- BUTTON -->
                            <div
                                class="tp-caption"
                                data-x="35"
                                data-y="center"
                                data-voffset="[95,110,115,120]"
                                data-lineheight="55"
                                data-hoffset="0"
                                data-frames='[{
                                        "delay":1300,
                                        "speed":900,
                                        "frame":"0",
                                        "from":"y:150px;opacity:0;",
                                        "ease":"Power3.easeOut",
                                        "to":"o:1;"
                                        },{
                                        "delay":"wait",
                                        "speed":1000,
                                        "frame":"999",
                                        "to":"opacity:0;","ease":"Power3.easeOut"
                                    }]'
                            >
                                <a href="#" class="butn-style2 dark medium">Shop Now</a>
                            </div>
                        </li>
                        <!-- end slide 3 -->
                    </ul>
                </div>
            </div>

            <!-- CATEGORY
        ================================================== -->
            <section>
                <div class="container">
                    <div class="row mt-n1-9">
                        <div class="col-md-6 mt-1-9">
                            <div class="categories-banner rounded">
                                <a href="#">
                                    <div class="offer-img">
                                        <img src="/images/user/offer-banner/offer-banner-02.jpg" alt="..." />
                                    </div>
                                    <div class="categories-details">
                                        <h3 class="mb-2 display-27 display-md-26 display-lg-23">
                                            JBL Wireless<br />
                                            Blutooth Speaker
                                        </h3>
                                        <h6 class="mb-0 font-weight-500 display-29 text-primary">Sale 20% Off</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 mt-1-9">
                            <div class="categories-banner rounded">
                                <a href="#">
                                    <div class="offer-img">
                                        <img src="/images/user/offer-banner/offer-banner-03.jpg" alt="..." />
                                    </div>
                                    <div class="categories-details">
                                        <h3 class="mb-2 display-27 display-md-26 display-lg-23">
                                            Apple <br />
                                            Smartwatch
                                        </h3>
                                        <h6 class="mb-0 font-weight-500 display-29 text-primary">Sale 60% Off</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- FEATURED PRODUCTS
        ================================================== -->
            <section class="pt-0">
                <div class="container">
                    <div class="section-heading">
                        <h2 class="display-22 display-md-20 display-lg-18">Featured Products</h2>
                    </div>

                    <div class="horizontaltab tab-style-three">
                       
                        <div class="resp-tabs-container hor_1">
                            <div>
                                <div class="product-grid-slide owl-carousel owl-theme">
                                    <%for(let i = 0; i< productList.length;i++) {%>
                                   
                                    <div class="product-grid">
                                        <div class="product-img">
                                            <a href="/productDetails/<%=productList[i]._id%>">
                                              
                                                <img src="<%=productList[i].productImages[0]%>" alt="..." />
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <h3><a href="/productDetails/<%=productList[i]._id%>"><%=productList[i].productName%></a></h3>
                                            <h4 class="price">
                                                <!-- <span class="regular-price line-through">$99.00</span> -->
                                                <span class="offer-price"><%=productList[i].price%></span>
                                            </h4>
                                        </div>
                                        <div class="product-buttons">
                                            <ul class="ps-0">
                                                <li>
                                                    <a href="#" class="btn-link" title="Add To Wishlist"
                                                        ><i class="far fa-heart"></i
                                                    ></a>
                                                </li>
                                                <li><a href="/add_to_cart_home/<%=productList[i]._id%>" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>

            <!-- OFFER
        ================================================== -->
            <section class="p-0">
                <div class="container">
                    <div
                        class="bg-img cover-background py-6 py-md-8 py-lg-10 px-1-6 px-lg-6"
                        data-background="/images/user/offer-banner/offer-banner-01.jpg"
                    >
                        <h5 class="mb-0 font-weight-400 display-29 display-lg-28">At discounted price. Hurry up!</h5>
                        <h2 class="mb-4 display-22 display-md-20 display-lg-18">Electronics Store</h2>

                        <div class="classic mb-1-9">
                            <ul class="countdown m-0">
                                <!-- days -->
                                <li>
                                    <span class="days">00</span>
                                    <p class="timeRefDays text-center">days</p>
                                </li>
                                <!-- end days -->
                                <!-- hours -->
                                <li>
                                    <span class="hours">00</span>
                                    <p class="timeRefHours">hours</p>
                                </li>
                                <!-- end hours -->
                                <!-- minutes -->
                                <li>
                                    <span class="minutes">00</span>
                                    <p class="timeRefMinutes">minutes</p>
                                </li>
                                <!-- end minutes -->
                                <!-- seconds -->
                                <li>
                                    <span class="seconds">00</span>
                                    <p class="timeRefSeconds">seconds</p>
                                </li>
                                <!-- end seconds -->
                            </ul>
                        </div>

                        <a href="#" class="butn-style2"><span>Shop Now</span><i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </section>

            <!-- STAFF PICKS
        ================================================== -->
            <section>
                <div class="container">
                    <div class="row mt-n1-9">
                        <div class="col-lg-4 col-md-6 mt-1-9">
                            <div class="product-items-detail">
                                <div class="section-heading medium">
                                    <h5>Best Sellers</h5>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/best-sellers/1.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray">Bluetooth Headset</a>
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$20.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$18.50</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/best-sellers/2.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray">Laser Printing</a>
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$342.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$325.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/best-sellers/3.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray"
                                                >Tablet With Flip Cover</a
                                            >
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$400.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$350.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-1-9">
                            <div class="product-items-detail">
                                <div class="section-heading medium">
                                    <h5>New Arrivals</h5>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/new-arrivals/1.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray">Pen Drive 8gb</a>
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$10.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$09.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/new-arrivals/2.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray"
                                                >Multimedia LED Projector</a
                                            >
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$180.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$171.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/new-arrivals/3.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray">Wireless Controller</a>
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$50.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$39.80</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-1-9">
                            <div class="product-items-detail">
                                <div class="section-heading medium">
                                    <h5>Top Rated</h5>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/top-rated/1.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray">Amazon Echo Spot</a>
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$200.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$199.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/top-rated/2.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray"
                                                >Desktop Monitor Stand</a
                                            >
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$50.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$49.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-items">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">
                                            <div class="thumb-img me-4 pe-2">
                                                <img src="/images/user/products/top-rated/3.jpg" alt="..." />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <a href="#" class="font-weight-600 text-extra-dark-gray"
                                                >Virtual Reality Headset</a
                                            >
                                            <p class="m-0">
                                                <span class="d-inline-block line-through pe-2">$200.00</span>
                                                <span class="d-inline-block text-primary font-weight-600">$199.00</span>
                                            </p>
                                            <div class="display-32">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- CLIENTS
        ================================================== -->
            <section class="client-section pt-0">
                <div class="container">
                    <div class="owl-carousel owl-theme clients">
                        <div class="item"><img alt="partner-image" src="/images/user/partners/01.png" /></div>
                        <div class="item"><img alt="partner-image" src="/images/user/partners/02.png" /></div>
                        <div class="item"><img alt="partner-image" src="/images/user/partners/03.png" /></div>
                        <div class="item"><img alt="partner-image" src="/images/user/partners/04.png" /></div>
                        <div class="item"><img alt="partner-image" src="/images/user/partners/05.png" /></div>
                    </div>
                </div>
            </section>

            <!-- EXTRA
        ================================================== -->
            <section
                class="bg-img cover-background text-center"
                data-background="/images/user/offer-banner/offer-banner.jpg"
            >
                <div class="container">
                    <h2 class="text-white display-22 display-md-20 display-lg-15">
                        Flat <strong class="text-warning">10%</strong> Off Electrical Appliance<br />
                        Store Available!!
                    </h2>
                    <p class="text-white display-29">
                        A contented balance of comfort. <a href="#" class="text-warning">Quick grab offer</a> now
                    </p>
                    <p class="mb-0">
                        <a href="#"><img src="/images/user/offer-banner/hsbc-img.png" alt="..." /></a>
                    </p>
                </div>
            </section>

            <!-- FOOTER
        ================================================== -->
            <footer class="pt-0 classic-footer">
                <div class="footer-service mb-6 mb-lg-8 py-4 py-lg-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div
                                    class="py-4 px-0 p-lg-4 border-color-light-black borders-bottom border-lg-bottom-0 border-lg-end"
                                >
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="fas fa-exchange-alt display-18"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="m-0 text-uppercase display-30">Return &amp; Exchange</h5>
                                            <p class="m-0 display-30">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div
                                    class="py-4 px-0 p-lg-4 border-color-light-black borders-bottom border-lg-bottom-0 border-lg-end"
                                >
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="fas fa-gift display-18"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="m-0 text-uppercase display-30">Receive Gift</h5>
                                            <p class="m-0 display-30">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="py-4 px-0 p-lg-4">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="far fa-life-ring display-18"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="m-0 text-uppercase display-30">Fast Support</h5>
                                            <p class="m-0 display-30">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row mt-n2-2">
                        <div class="col-lg-4 col-md-6 mt-2-2">
                            <h3>Contact Us</h3>
                            <ul class="list-style list-unstyled mb-2 ps-0">
                                <li><strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span></li>
                                <li><strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span></li>
                                <li><strong>Email: </strong><span class="ps-1">addyour@emailhere</span></li>
                            </ul>

                            <ul class="list-style-two mb-0 ps-0">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-2-2">
                            <div class="row">
                                <div class="col-md-6 col-6 pe-lg-0">
                                    <h3>Quick Links</h3>
                                    <ul class="list-style list-unstyled ps-0">
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Our shop</a></li>
                                        <li><a href="#">Secure shopping</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-6 pe-lg-0">
                                    <h3>My Account</h3>
                                    <ul class="list-style list-unstyled ps-0">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Wish List</a></li>
                                        <li><a href="#">Newsletter</a></li>
                                        <li><a href="#">Returns</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12 mt-2-2">
                            <div class="ps-lg-1-9">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6 mb-1-9">
                                        <h3>News Letter</h3>
                                        <form method="post">
                                            <div class="form-group footer-subscribe">
                                                <input
                                                    type="email"
                                                    placeholder="Subscribe with us"
                                                    id="email"
                                                    class="form-control"
                                                />
                                                <a href="#" class="butn-style2"
                                                    ><i class="fas fa-paper-plane display-27 mt-1"></i
                                                ></a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-12 col-md-6">
                                        <h3>Download Our Mobile Apps</h3>
                                        <div class="text-start">
                                            <a
                                                href="#"
                                                class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0"
                                            >
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0">
                                                        <i class="fab fa-apple display-26"></i>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <span class="d-block display-32">Download on the</span>
                                                        <strong>App Store</strong>
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0">
                                                        <i class="fab fa-google-play display-26"></i>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <span class="d-block display-32">Get it on</span>
                                                        <strong>Google Play</strong>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <div class="text-center text-md-start">
                                    <p class="mb-0">
                                        &copy; <span class="current-year"></span> Smartshop is Powered by
                                        <a href="https://www.chitrakootweb.com/" target="_blank" class="text-dark"
                                            >Chitrakoot Web</a
                                        >
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-style-17 text-center text-md-end">
                                    <li><img src="/images/user/content/payment-options/visa.png" alt="..." /></li>
                                    <li><img src="/images/user/content/payment-options/mastercard.png" alt="..." /></li>
                                    <li><img src="/images/user/content/payment-options/paypal.png" alt="..." /></li>
                                    <li><img src="/images/user/content/payment-options/amex.png" alt="..." /></li>
                                    <li><img src="/images/user/content/payment-options/discover.png" alt="..." /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <!-- all js include start -->

        <!-- jQuery -->
        <script src="/js/user/jquery.min.js"></script>

        <!-- popper js -->
        <script src="/js/user/popper.min.js"></script>

        <!-- bootstrap -->
        <script src="/js/user/bootstrap.min.js"></script>

        <!-- core.min.js -->
        <script src="/js/user/core.min.js"></script>

        <!-- revolution slider js files start -->
        <script src="/js/user/rev_slider/jquery.themepunch.tools.min.js"></script>
        <script src="/js/user/rev_slider/jquery.themepunch.revolution.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.actions.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.migration.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/js/user/rev_slider/extensions/revolution.extension.video.min.js"></script>
        <!-- revolution slider js files end -->

        <!-- theme core scripts -->
        <script src="/js/user/main.js"></script>

        <!-- all js include end -->
    </body>

    <!-- Mirrored from smartshop.websitelayout.net/home-shop-2 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:59:55 GMT -->
</html>
